body{
	width:100%;
	height: 100%;
	margin: 0;
}


a{
	text-decoration: none;
	background-color: transparent;
	color: rgba(255,255,255,0.8);
}

.header{
	background-color: #000;
	color: rgba(255,255,255,0.8);
	min-height: 50px;
	border: 1px solid transparent;
	border-color: #080808;
}

.inner-header{
	width: 80%;
	margin: auto;
}
.logo{
	float: left;
	padding: 15px;
	font-size: 20px;
	font-weight: bold;
}
.header-link{
	float: right;
	padding: 15px;
	font-weight: bold;
	font-size: 15px;
}

.content{
	min-height:100%;
}

.banner-image{
	background: url("http://www.chainimage.com/images/bird-wild-duck-lake-plants-nature-hd-wallpaper-car-pictures.jpg") no-repeat center; 
	background-size: cover;
	padding-bottom: 50px;
	text-align:center;
	color: #f8f8f8;
	}


.inner-banner-image{
	padding-top: 12%;
	padding-left: 35%;
	margin: auto;
	
}

.banner-content{

	position: relative;
	padding-top: 6%;
	padding-bottom: 6%;
	overflow: hidden;
	margin-bottom: 12%;
	background-color: rgba(0,0,0,0.7);
	max-width: 400px;
}


.button{
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	padding: 10px 16px;
	font-size: 18px;
	border-radius: 6px;

}

.container{
	padding-top: 50px;
	min-height: 600px;
	width: 90%;
	margin: auto;
	overflow: hidden;
	background:url("http://wallpapercave.com/wp/sokx0eg.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
	width: 100%;
}
.items{
	width: 30%;
	display: block;
	padding: 7px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	float: left;
	margin-left: 1%;

}

.thumbnail{
	display: block;
	max-width: 100%;
	height: auto;

}


.caption{

	color: #000;
	padding: 0px 10px 10px;
	font-weight: bold;
	text-align: center;
}


footer{
	color: #fff;
	font-size: 15px;
	padding: 10px;
	font-family: sans-serif;
}


















